.Links{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 52px;
}

.logout{
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 25px;
    border: none;
}

.mobileLinks,.MobileMenu{
    display: none;
}

@media (max-width:768px){
    .Links{
        display: none;
    }

    .MobileMenu{
        display: block;
        cursor: pointer;
        font-size: 15px;
    }

    .mobileLinks{
        background-color: #001d52;
        position: absolute;
        top: 100px;
        right:0;
        width: 50%;
        height: calc(100vh-100px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        
    }
}